appdirs==1.4.3
astroid==2.3.3
autopep8==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
future==0.18.2
idna==2.9
importlib-metadata==1.6.0
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.1
nltk==3.4.5
numpy==1.18.2
packaging==20.3
pandas==1.0.3
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
toml==0.10.0
tornado==6.0.4
tox==3.14.6
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.17
wrapt==1.11.2
zipp==3.1.0
